USE [QLy_filehoso]
GO
/****** Object:  Table [dbo].[NS_FILE_HOSO]    Script Date: 6/28/2022 4:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NS_FILE_HOSO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STT] [int] NOT NULL,
	[IDHOSONHANSU] [int] NOT NULL,
	[TenFile] [nvarchar](100) NOT NULL,
	[DuongDan] [nvarchar](200) NOT NULL,
	[DungLuong] [nvarchar](50) NOT NULL,
	[KieuFile] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NS_FILE_HOSO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NS_HOSONHANSU]    Script Date: 6/28/2022 4:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NS_HOSONHANSU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNS] [varchar](50) NOT NULL,
	[HovaTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[SoCMND] [varchar](100) NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](100) NULL,
	[Email] [varchar](100) NOT NULL,
 CONSTRAINT [PK_NS_HOSONHANSU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NS_FILE_HOSO]  WITH CHECK ADD  CONSTRAINT [FK_NS_FILE_HOSO_NS_HOSONHANSU] FOREIGN KEY([IDHOSONHANSU])
REFERENCES [dbo].[NS_HOSONHANSU] ([ID])
GO
ALTER TABLE [dbo].[NS_FILE_HOSO] CHECK CONSTRAINT [FK_NS_FILE_HOSO_NS_HOSONHANSU]
GO
