<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QLy_filehosonhansu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="QLy_filehosonhansu.Properties.Settings.QLy_filehosoConnectionString"
            connectionString="Data Source=HI\SQLEXPRESS;Initial Catalog=QLy_filehoso;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLy_filehosonhansu.Properties.Settings.QLy_filehosoConnectionString1"
            connectionString="Data Source=DESKTOP-1N9EL1I\SQLEXPRESS;Initial Catalog=QLy_filehoso;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <QLy_filehosonhansu.Properties.Settings>
            <setting name="QLy_filehosonhansu_Service_WebService" serializeAs="String">
                <value>https://localhost:44377/WebService.asmx</value>
            </setting>
        </QLy_filehosonhansu.Properties.Settings>
    </applicationSettings>
</configuration>